body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
}

#score {
    position: absolute;
    bottom: 5%;
    right: 72%;
    font-size: 3em;
    font-family: 'Tungsten-Bold', 'Nightmare Hero';
}

#multiplier-container {
    position: absolute;
    bottom: 40%;
    left: 30%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#multiplier-x {
    position: relative;
    font-size: 3em; /* Smaller "x" */
    bottom: 25%;
    right: 10%;
    color: white;
    font-family: 'Nightmare Hero';
    /* font-weight: thin; */
    font-style: italic;
}

#multiplier-value {
    position: relative;
    bottom: 0%;
    right: 10%;
    font-size: 6.5em; /* Bigger multiplier value */
    color: white;
    font-family: 'Tungsten-Bold', 'Nightmare Hero';
    font-style: italic;
}

#multiplier-circle {
    position: absolute;
    top: 0;
    left: 0;
}

#star-power-container {
    position: absolute;
    bottom: 40%;
    right: 30%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#star-power-circle {
    position: absolute;
    top: 0;
    left: 0;
}

#thunder {
    position: relative;
    top: 10%;
    /* right: 50%; */
    left: 0%;
    scale: 0.8;
    /* transform: translate(-50%, -50%); */
    display: none;
}