body {
	margin: 0;
}

#three-canvas {
	/* position: absolute; */
	/* left: 0; */
	/* top: 0; */
	/* background-color: pink; */
	width: 100%;
	height: 100%;
	display: block;
}
/* #score-container {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 10px 20px;
	font-size: 24px;
	border-radius: 10px;
	font-family: Arial, sans-serif;
} */

#score {
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    text-shadow: -5px 0px 0 #000,
                0px 5px 0 #000,
                5px -0px 0 #000,
                0px -5px 0 #000;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 1); */
    padding: 10px;
    border-radius: 10px;
    font-family: 'Nightmare Hero', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#multiplier {
    position: absolute;
    bottom: 5%;
    left: 7%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-shadow: -5px 0px 0 #000,
                0px 5px 0 #000,
                5px -0px 0 #000,
                0px -5px 0 #000;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 1); */
    padding: 10px;
    border-radius: 10px;
    font-family: 'Nightmare Hero', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#streak {
    position: absolute;
    bottom: 5%;
    left: 13%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    text-shadow: -5px 0px 0 #000,
                0px 5px 0 #000,
                5px -0px 0 #000,
                0px -5px 0 #000;
    text-align: center;
    /* background-color: rgba(255, 255, 255, 1); */
    padding: 10px;
    border-radius: 10px;
    font-family: 'Nightmare Hero', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#music-player {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#music-player img {
    width: 100%;
    border-radius: 8px;
}
#music-player p {
    margin: 5px 0;
}